@{
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="jumbotron">
        <div class="container">
            <h1>Save Live</h1>
            <p class="lead">Donating blood has benefits for your emotional and physical health. According to a report by the Mental Health Foundation, helping others can:</p>
            <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="about_us">

                </div>
            </div>
            <div class="col-md-6">
                <h2 class="mb-3">benefits of donating blood</h2>
                <p>
                    Blood is high on demand globally. Human blood cannot be manufactured by industries. Blood can be received only from donors.

                    There are a lot of myths surrounding donating blood. Donating blood has a lot of health benefits.

                    Donating blood doesn’t just limit its benefits to the receiver but also offers health benefits to the donors.
                </p>
                <p><a class="btn btn-primary mt-3" href="#">Learn more &raquo;</a></p>
            </div>

        </div>
    </div>
    <hr />
    <div class="container-fluid paralax_area pb-5">
        <div class="container mt-5">
            <div class="row text-center">
                <h2 class="text-white">Emergency Blood Request</h2>
                <hr />
            </div>
            <div class="row">
                @foreach (var item in ViewBag.requests)
                {
                    <div class="col-md-4">
                        <div class="well">
                            <h2>@item.MessageTitle</h2>
                            <p>
                                @item.MessageBody
                            </p>
                            <p>Contact: @item.Contact</p>
                            <p>Email: @item.Email</p>
                            <p><a class="btn btn-primary" href="#">Read More &raquo;</a></p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container-fluid pb-5">
        <div class="container mt-5">
            <div class="row text-center">
                <h2 class="">Latest Post</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <h2>Benefit of Blood Donation</h2>
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-primary" href="#">Read More &raquo;</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h2>1 bag Blood can save 3 lives</h2>
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-primary" href="#">Read More &raquo;</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <h2>A good Ensure Healt Safety</h2>
                        <p>
                            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                            enables a clean separation of concerns and gives you full control over markup
                            for enjoyable, agile development.
                        </p>
                        <p><a class="btn btn-primary" href="#">Read More &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
